.container{
  margin-top: 5%;
}

h1{
  margin-top: 5%;
}

.form-div{
  margin-top: 5%;
}

label{
  margin-bottom: 2%;
}

.btn-group{
  margin-top: 5%;
}

#reset{
  margin-left: 5%;
}

.box-wrap{
  margin-top: 10%;
}
