<app-navbar [state]="state"></app-navbar>
<div class="container">
  <h1 *ngIf="!this.companyId">Add Your IPO</h1>
  <h1 *ngIf="this.companyId">Update IPO Details</h1>
  <form>
    <div class="row drop-box">
      <div class="dropdown col-xs-12 col-md-6 col-sm-12 col-lg-4 col-xl-4">
        <button class="btn btn-outline-dark dropdown-toggle col-12" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          {{companyTitle}}
        </button>
        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
          <li class="dropdown-item" *ngFor="let s of companies" (click)="onCompanyClick(s)">{{s.name}}</li>
        </ul>
      </div>
      <div class="dropdown col-xs-10 col-md-6 col-sm-12 col-lg-4  col-xl-4">
        <button class="btn btn-outline-dark dropdown-toggle col-12" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          {{exchangeTitle}}
        </button>
        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
          <li class="dropdown-item" *ngFor="let s of exchanges" (click)="onExchangeClick(s)">{{s.name}}</li>
        </ul>
      </div>
    </div>
    <div class="user-form">
      <div class="form-group col-lg-8">
        <label>Price Per Share</label>
        <input type="number" name="price" class="form-control" placeholder="Enter Price Per Share" required [(ngModel)]="ipo.pricePerShare">
      </div>
      <div class="form-group col-lg-8">
        <label>Total Shares</label>
        <input type="number" name="shares" class="form-control" placeholder="Enter Total amount of shares" required [(ngModel)]="ipo.totalShares">
      </div>
      <div class="form-group col-lg-8">
        <label>Opening Date Time</label>
        <input type="datetime-local" name="time" class="form-control" placeholder="Enter Opening Date Time" required [(ngModel)]="ipo.dateTime">
      </div>
      <div class="form-group col-lg-8">
        <label>Remarks</label>
        <input type="text" name="remarks" class="form-control" placeholder="Enter Remarks" required [(ngModel)]="ipo.remarks">
      </div>
    </div>
    <div class="btn-grp row">
      <button type="submit" class="btn btn-dark col-lg-2 col-md-4 col-sm-5 col-xs-6" (click)="addStock()">Submit</button>
      <button type="reset" class="btn btn-secondary col-lg-2 col-md-4 col-sm-5 col-xs-6" id="reset-btn" (click)="onReset()">Reset</button>
    </div>
  </form>
</div>
